.tabla_1{
  text-align: center;
}
.titulo_1{
  background-color: #E015E3;
  text-align: center;
  border:15px solid #084684;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 30px;
  margin-left: 100px;
}
p{
  color: blue;
  font-size: 15px;
  font-style: bold;
  font-weight: bold;
}

.mapa{
  background-color: yellow;
  text-align: center;
}
